<!-- Istruzioni -->
<h3>Piccolo Esercizio</h3>
<h5>
  Ci sono delle cose che non vanno, quindi analizziamo la struttura e poi
  procediamo a vedere come può essere sistemato, ma dobbiamo assolutamente
  implementare
</h5>
<ul>
  <li>Servizi</li>
  <li>Metodo di ordinamento per voto (al click su un bottone)</li>
</ul>

<!-- Progetto -->
<div class="movies-container ms-3">
  <button class="btn btn-primary me-3 mb-3" (click)="getAscendingOrder()">Ordine crescente</button>
  <button class="btn btn-primary mb-3" (click)="getDescendingOrder()">Ordine decrescente</button>
<div class="card w-50 mb-4" *ngFor="let movie of movies">
  <img class="card-img-top h-25" [src]="movie.img" alt="Card image cap" />
  <div class="card-body">
    <h1>{{ movie.title }}</h1>
    <span *ngFor="let star of [].constructor(movie.rate)"> ⭐ </span>
  </div>
</div>
</div>


